<div class="container m-5">
    <form #regionCountry='ngForm' class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="region">Select Region</label>
                <select name="selectedRegion" class="form-control" [(ngModel)]='selectedRegion' (ngModelChange)="onRegionChange()">
                    <option *ngFor="let region of (regions$ | async)?.regions" [value]="region">{{region}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="region">Select Contry</label>
                <select name="selectedCountry" class="form-control" [(ngModel)]='selectedCountry' (ngModelChange)="onCountryChange()" [disabled]="!selectedRegion">
                    <option *ngFor="let country of (regions$ | async)?.countries" [value]="country.name">{{country.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<hr>